@using Microsoft.AspNet.Identity
@using UILHost.Web.Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm(MVC.Account.LogOff(), FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + Html.GetCurrentUsername() + "!", MVC.Manage.Index(), htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", MVC.Account.RegisterSchool(), htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", MVC.Account.Login(), htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

@Styles.Render("~/bundles/custom-css")
<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700' rel='stylesheet' type='text/css'>